<div>
    <div class='bg-dark'>
        <h3 class='px-3 py-2 text-white' style="height: 30px;">{{title}}</h3>
        <small class="px-3 py-2 text-white">भातखंडे लिपीनुसार रचना लेखन अभ्यास हेतु</small>
        <!-- <table style="width:100%; text-align: center;">
            <tbody>
                <tr>
                    <td>
                        <small class="px-3 py-2 text-white"><a style="cursor: pointer; color:white;" routerLink='rachanaLekhani/introduction'>परिचय</a></small>
                    </td>
                    <td>
                        <small class="px-3 py-2 text-white">आनक</small>
                    </td>
                    <td>
                        <small class="px-3 py-2 text-white">वंशी</small>
                    </td>
                    <td>
                        <small class="px-3 py-2 text-white">शंख</small>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
