table {
  table-layout: fixed !important;
  width: 100%;
  }
  .rachanaContainer{
    height: 200px;
  overflow: auto;

  }
 table mat-cell {
    text-align: center;
    justify-content:center;
  }
  mat-header-row{
    display: none;
  }
  #rachanaTableId mat-row mat-cell:nth-child(1), mat-cell:nth-child(2), mat-cell:nth-child(3), mat-cell:nth-child(5),
  mat-cell:nth-child(6), mat-cell:nth-child(8), mat-cell:nth-child(9),
  mat-cell:nth-child(11), mat-cell:nth-child(12) {
    background-color: beige;
  }
  #rachanaTableId mat-row mat-cell:nth-child(4), mat-cell:nth-child(7), mat-cell:nth-child(10),
  mat-cell:nth-child(13){
    white-space:nowrap;
    width: 2.5%;
    background-color: beige;
}

#rachanaTableId mat-row mat-cell:nth-child(1){
  text-align: left;
  justify-content:left;
  }

.rachanaDetailsP1{
  font-family: KrutiDev;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  height: 20px;
}
.rachanaDetailsP2{
  font-family: KrutiDev;
  font-size: small;
  font-weight: bold;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #e87a43 !important;
  border-style: none;
}
input{
  background-color: beige;
  border:none;
}
input:focus{
  border:none;
}
.mainButtons{
  height:100%;
  width:100%;
}
