<div class='container-fluid'>
    <div class="row py-3">
        <div class="col-lg-6 border-right">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="one">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.one}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="two">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.two}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="three">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.three}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="four">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.four}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="five">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.five}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="six">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.six}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="seven">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.seven}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="eight">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.eight}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nine">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nine}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ten">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ten}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="eleven">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.eleven}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="twelve">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.twelve}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="thirteen">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.thirteen}} </mat-cell>
                    </ng-container>
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2 border-right">
                    <span class="text-dark">{{swarmatra}}</span>
                </div>
                <div class="col-lg-10 border-right">
                    <div>
                        <button class="btn btn-success" (click)="captureMeta('kerva')">केरवा-१२०</button>
                        <button class="btn btn-success" (click)="captureMeta('khemta')">खेमटा-३६०</button>
                        <span class='px-3'>ताल</span><span class="px-3 border border-info">{{taal}}</span><br /><br />
                    </div>
                    <div>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('॥ॐ॥')">॥ॐ॥</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('॥')">॥</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt(':॥')">:॥</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('।')">।</button><br /><br />
                        <button class="btn btn-success rounded-circle" (click)="captureIt('म़॑')">म़॑</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('प़')">प़</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ध़॒')">ध़॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ध़')">ध़</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ऩि॒')">ऩि॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ऩि')">ऩि</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('स')">स</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('री॒')">री॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('री')">री</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ग॒')">ग॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ग')">ग</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('म')">म</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('म॑')">म॑</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('प')">प</button><br /><br />
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ध॒')">ध॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ध')">ध</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('नि॒')">नि॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('नि')">नि</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('सं')">सं</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('रीं')">रीं॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('रीं')">रीं</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('गं॒')">गं॒</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('गं')">गं</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('मं')">मं</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('मऺं')">मऺं</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('पं')">पं</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('-')">-</button>
                        <button class="btn btn-success rounded-circle" (click)="captureIt('ऽ')">ऽ</button><br /><br />
                        <button class="btn btn-success rounded-circle" (click)="captureIt(';')">|______|</button>
                        <button class="btn btn-success" (click)="correct()">सुधारे</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>