<div class='container-fluid'>
    <div class="row py-3">
        <div class="col-lg-10 border-right">
            <div>
                <div class="row" style="height: 23px;">
                    <div class="col-lg-3">
                        <p class="rachanaDetailsP2" style="text-align: left;">वंशी</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="rachanaDetailsP1">भूप</p>
                    </div>
                    <div class="col-lg-3">
                        <p class="rachanaDetailsP2" style="text-align: right;">केरवा-१२०</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6" style="text-align: right;">
                        <small>आरोहण - स री ग प ध सं</small>
                    </div>
                    <div class="col-lg-6" style="text-align: left;">
                        <small>अवरोहण - सं ध प ग री स</small>
                    </div>
                </div>
            </div>

            <div class="rachanaContainer mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" id="rachanaTableId">
                    <ng-container matColumnDef="one">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.one}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="two">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.two}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="three">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.three}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="four">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.four}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="five">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.five}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="six">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.six}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="seven">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.seven}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="eight">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.eight}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nine">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.nine}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ten">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.ten}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="eleven">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"> <small>{{element.eleven}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="twelve">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"> <small>{{element.twelve}}</small></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="thirteen" style="width:2.5%">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"><small>{{element.thirteen}}</small></mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
            </div>
        </div>
        <div class="col-lg-2 border-right">
            <span class="text-dark">{{swarmatra}}</span>
            <span class="text-danger">{{errMessage}}</span>
        </div>
    </div>
    <div>
        <div>
            <!-- <button class="btn btn-success" (click)="captureMeta('kerva')">केरवा-१२०</button>
            <button class="btn btn-success" (click)="captureMeta('khemta')">खेमटा-३६०</button><br /><br /> -->
            <!-- <span class='px-3'>ताल</span><span class="px-3 border border-info">{{taal}}</span><br /><br /> -->
            <!-- <button class="btn btn-success rounded-circle" (click)="captureIt('॥ॐ॥')">॥ॐ॥</button> -->
            <button class="btn btn-success rounded-circle" (click)="captureIt('॥')">॥</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt(':॥')">:॥</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('।')">।</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt(';')">जोड़ें</button>
            <button class="btn btn-success" (click)="correct()">सुधारे</button><br /><br />
        </div>
        <div>
            <button class="btn btn-success rounded-circle" (click)="captureIt('म़॑')">म़॑</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('प़')">प़</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ध़॒')">ध़॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ध़')">ध़</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ऩि॒')">ऩि॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ऩि')">ऩि</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('स')">स</button><br /><br />
            <button class="btn btn-success rounded-circle" (click)="captureIt('री॒')">री॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('री')">री</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ग॒')">ग॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ग')">ग</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('म')">म</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('म॑')">म॑</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('प')">प</button><br /><br />
            <button class="btn btn-success rounded-circle" (click)="captureIt('ध॒')">ध॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ध')">ध</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('नि॒')">नि॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('नि')">नि</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('सं')">सं</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('रीं॒')">रीं॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('रीं')">रीं</button><br /><br />
            <button class="btn btn-success rounded-circle" (click)="captureIt('गं॒')">गं॒</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('गं')">गं</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('मं')">मं</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('मऺं')">मऺं</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('पं')">पं</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('-')">-</button>
            <button class="btn btn-success rounded-circle" (click)="captureIt('ऽ')">ऽ</button>
        </div>
    </div>
</div>