<div class='container-fluid'>
    <div>
        <div>
            <table>
                <tr>
                    <td>
                        <p class="rachanaDetailsP2" style="float: left;">वंशी</p>
                    </td>
                    <td>
                        <p class="rachanaDetailsP1">भूप</p>
                    </td>
                    <td>
                        <p class="rachanaDetailsP2" style="float: right;">केरवा-१२०</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><small style="float: right; padding-right: 5px;">आरोहण - स री ग प ध सं</small></td>
                    <td><small style="float: left; padding-left: 5px;">अवरोहण - सं ध प ग री स</small></td>
                </tr>
            </table>
        </div>

        <div class="rachanaContainer mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" id="rachanaTableId">
                <ng-container matColumnDef="one">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.one}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="two">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="clickCapture($event)">
                        {{element.two}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="three">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.three}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="four">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.four}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="five">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.five}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="six">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.six}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="seven">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.seven}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="eight">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.eight}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nine">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.nine}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="ten">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.ten}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="eleven">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.eleven}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="twelve">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.twelve}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="thirteen">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.thirteen}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </table>
        </div>
    </div>
    <div>
        <span class="text-danger">{{errMessage}}</span>
    </div>
    <br />
    <div>
        <!-- <button class="btn btn-success" (click)="captureMeta('kerva')">केरवा-१२०</button>
                <button class="btn btn-success" (click)="captureMeta('khemta')">खेमटा-३६०</button><br /><br /> -->
        <!-- <span class='px-3'>ताल</span><span class="px-3 border border-info">{{taal}}</span><br /><br /> -->
        <!-- <button class="btn btn-success rounded-circle" (click)="captureIt('॥ॐ॥')">॥ॐ॥</button> -->

        <table class="keyPadTableClass">
            <tbody>
                
                <tr>
                    <td rowspan="6"><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('+')">अगली
                            मात्रा</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('म़॑')">म़॑</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('प़')">प़</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ध़॒')">ध़॒</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ध़')">ध़</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ऩि॒')">ऩि॒</button></td>
                    <td rowspan="6"><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('+')">अगली
                            मात्रा</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ऩि')">ऩि</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('स')">स</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('री॒')">री॒</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('री')">री</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ग॒')">ग॒</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ग')">ग</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('म')">म</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('म॑')">म॑</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('प')">प</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ध॒')">ध॒</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ध')">ध</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('नि॒')">नि॒</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('नि')">नि</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('सं')">सं</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('रीं॒')">रीं॒</button>
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('रीं')">रीं</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('गं॒')">गं॒</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('गं')">गं</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('मं')">मं</button></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('मऺं')">मऺं</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('-')">-</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-success rounded-circle btn-outline-dark" (click)="captureIt('ऽ')">ऽ</button></td>
                    <!-- <td><button class="btn btn-success rounded-circle" (click)="captureIt('॥')">॥</button></td>
                        <td><button class="btn btn-success rounded-circle" (click)="captureIt(':॥')">:॥</button></td>
                        <td><button class="btn btn-success rounded-circle" (click)="captureIt('।')">।</button></td> -->
                    <!-- <td rowspan="6"><button class="btn btn-success rounded mainButtons"
                            (click)="correct()">सुधारे</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>