<!-- <app-keypad></app-keypad> -->
<div class="table-responsive">
    <table class="table table-bordered mainTable">
        <tbody>
            <tr class="instrumentRow">
                <td class="" routerLink='/anak' style="width:33%;">
                    आनक
                </td>
                <td class="" routerLink='/vanshi' style="width:34%;">
                    वंशी
                </td>
                <td class="" routerLink='/shankha' style="width:33%;">
                    शंख
                </td>
            </tr>
            <tr>
                <td>
                    <table class="table-borderless">
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getAnakRachanaPage("bhoop_anak")'>भूप</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getAnakRachanaPage("tilang_anak")'>तिलंग</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getAnakRachanaPage("tilakkamod_anak")'>तिलक
                                    कामोद</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getAnakRachanaPage("valachi_anak")'>वलचि</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getAnakRachanaPage("shivaranjani_anak")'>शिवरंजनी</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getAnakRachanaPage("kairali_anak")'>कैरलि</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-borderless">
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getRachanaPage("bhoop")' >भूप</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getRachanaPage("tilang")'>तिलंग</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getRachanaPage("tilakkamod")'>तिलक
                                    कामोद</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getRachanaPage("valachi")'>वलचि</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block'
                                (click)='getRachanaPage("shivaranjani")'>शिवरंजनी</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getRachanaPage("kairali")'>कैरलि</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-borderless">
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getShankhaRachanaPage("kiran")'>किरण</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block'
                                (click)='getShankhaRachanaPage("shriram")'>श्रीराम</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getShankhaRachanaPage("uday")'>उदय</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block' (click)='getShankhaRachanaPage("ajeya")'>अजेय</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block'
                                (click)='getShankhaRachanaPage("pratidhwani")'>प्रतिध्वनि</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class='btn btn-secondary btn-block'
                                (click)='getShankhaRachanaPage("mewar")'>मेवाड़</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-secondary btn-block" routerLink="/rachanaLekhani">पीछे</button>
</div>
