<div>
    <table>
        <tr>
            <td>
                <p class="rachanaDetailsP2" style="float: left;">{{instrumentName}}</p>
            </td>
            <td>
                <p class="rachanaDetailsP1">{{rachanaName}}</p>
            </td>
            <td>
                <p class="rachanaDetailsP2" style="float: right;">{{taalName}}</p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="raagDetails"><small style="float: right; padding-right: 5px;">आरोहण - {{arohan}}</small></td>
            <td class="raagDetails"><small style="float: left; padding-left: 5px;">अवरोहण - {{avarohan}}</small></td>
        </tr>
    </table>
</div>